@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.scss";

* {
  scrollbar-color: #424242 #212121; /* Thumb color and track color */
}

/* Global scrollbar styles for WebKit-based browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #424242; /* Thumb color */
}

*::-webkit-scrollbar-track {
  background-color: #212121; /* Track color */
}

html,
body {
  font-family: "KrungthaiFast-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
}
.font-bold,
.bold {
  font-family: "KrungthaiFast-Bold" !important;
}

.bg{
  background-color: #212121;
}

section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  .content {
    width: 768px;
    display: flex;
  }
}


.container {
  width: 100%;
  display: contents;
}

.chatbox {
  padding: 10px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: auto;
  width: 100%;
  color: #fff;
}


.message-input {
  width: 80%;
  padding: 10px;
}

button {
  padding: 10px;
  width: 18%;
  cursor: pointer;
}

.chat-line {
  // padding: 8px;
  margin-bottom: 10px;
}

.user {
  background-color: #d1e7dd;
  text-align: right;
}

div[data-slot="input-wrapper"] {
  /* Your CSS rules here */
  background-color: transparent !important;
  color: #fff !important;
  border: none;
  font-size: 1rem !important;
  line-height: 1.5rem;
  white-space: pre-wrap;
  textarea{
    color: #fff !important;
    width: 95%;
  font-size: 1rem !important;


  }
  textarea:focus {
    outline: none; /* Standard rule */
    -webkit-appearance: none; /* Disable WebKit focus outline */
    -moz-appearance: none; /* Disable Firefox focus outline */
    appearance: none; /* Disable appearance for other browsers */
  font-size: 1rem !important;

  }
}